<h1>$title$</h1>

<div class="info">
    Дата: $date$
</div>

$body$

<div id="comments">
    <div id="disqus_thread"></div>
    <script>
     var disqus_config = function () {
         this.page.url = "http://blog.yogin.ski/$url$";
         this.page.identifier = "$url$";
     };
     (function() {
         var d = document, s = d.createElement('script');
         s.src = '//blogyoginski.disqus.com/embed.js';
         s.setAttribute('data-timestamp', +new Date());
         (d.head || d.body).appendChild(s);
     })();
    </script>
    <noscript>Для комментариев <a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus</a> необходимо включить javascript!</noscript>
</div>
